---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import GitHub from "../components/icons/GitHub.astro";
import SocialPills from "../components/SocialPills.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ExperienceIcon from "../components/icons/ExperienceIcon.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
---

<script>
	import { stagger, spring, timeline, type TimelineDefinition, inView } from "motion";

	function animateElement(element:any) {
		const sequence = [
			[
				element,
				{ y: ["40%", "0%"], opacity: [0, 1] },
				{
					at: "-0.1",
					duration: 0.4,
					delay: stagger(0.3),
					easing: spring({
						velocity: 100,
						stiffness: 50,
						damping: 10,
					}),
				},
			],
		];

		timeline(sequence as TimelineDefinition);
	}

	document.addEventListener("DOMContentLoaded", () => {
		const cards = document.querySelectorAll(".card-animate");
		cards.forEach((card) => {
			inView(card, () => {
				animateElement(card);
			}, {});
		});
	});
</script>

<Layout title="Portfolio De Fabi치n Casas">
	<main>
		<div class="card-animate mb-6">
			<SectionContainer id="inicio">
				<h1
					class="text-white text-4xl lg:text-5xl font-bold flex flex-col sm:flex-row gap-x-4 pb-4"
				>
					Wena!, soy Fabi치n<div class="flex justify-start items-center">
						<Badge>DISPONIBLE PARA TRABAJAR</Badge>
					</div>
				</h1>
				<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
					<span>2 a침os Estudiando</span>
					<span class="text-red-200/90"
						>Analista Programador Computacional</span
					>. <span class="text-blue-200/90"
						>Soy De Santiago, Chile 游.</span
					>
					<span class="opacity-85"
						>Tengo muchas ganas de seguir aprendiendo de este rubro para
						superarme cada d칤a m치s 游닄.</span
					>
				</h2>
				<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialPills href="https://www.linkedin.com/in/fabian-casas-266691324/">
						<Linkedin class="size-4 md:size-5" />
						LinkedIn
					</SocialPills>
					<SocialPills href="https://github.com/Fabiantonio">
						<GitHub class="size-4 md:size-5" />
						Github
					</SocialPills>
					<SocialPills href="mailto:vntoniojr@outlook.com">
						<MailIcon class="size-4" />
						vntoniojr@outlook.com
					</SocialPills>
				</nav>
			</SectionContainer>
		</div>

		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<ExperienceIcon class="size-7" />
				Experiencia
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
