<header id="header" class="flex justify-between items-center w-full xl:w-[1120px] mx-auto px-4">
    <img class="size-44" src="/IMG_8587-removebg-preview.png" alt="fabian photo">
    <nav class="hidden lg:flex flex-col sm:flex-row gap-x-10 text-xl opacity-80">
        <a class="hover:-translate-y-1 hover:scale-110 duration-300" href="#header">Inicio</a>
        <a class="hover:-translate-y-1 hover:scale-110 duration-300" href="#experiencia">Sobre mí</a>
        <a class="hover:-translate-y-1 hover:scale-110 duration-300" href="#proyectos">Proyectos</a>
        <a class="hover:-translate-y-1 hover:scale-110 duration-300" href="mailto:vntoniojr@outlook.com" target="_blank">Contacto</a>
    </nav>
    <button class="lg:hidden p-2 text-gray-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-200" id="menu-toggle">
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
        </svg>
    </button>
</header>

<nav class="hidden flex-col gap-2 text-xl opacity-0  px-4 transition-all duration-500 ease-in-out max-h-0 overflow-hidden" id="mobile-menu">
    <a class="border-b-2 hover:-translate-y-1 hover:scale-110 duration-300" href="#experiencia">Sobre mí</a>
    <a class="border-b-2 hover:-translate-y-1 hover:scale-110 duration-300" href="#proyectos">Proyectos</a>
    <a class="border-b-2 hover:-translate-y-1 hover:scale-110 duration-300" href="mailto:vntoniojr@outlook.com" target="_blank">Contacto</a>
    <a class="border-b-2 hover:-translate-y-1 hover:scale-110 duration-300" href="#header">Inicio</a>
</nav>

<script>
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    if (menuToggle && mobileMenu) {
        menuToggle.addEventListener('click', () => {
            if (mobileMenu.classList.contains('hidden')) {
                mobileMenu.classList.remove('hidden');
                mobileMenu.classList.add('flex');
                setTimeout(() => {
                    mobileMenu.classList.remove('opacity-0', 'max-h-0');
                    mobileMenu.classList.add('opacity-100', 'max-h-screen');
                }, 10); // Slight delay to ensure transition works
            } else {
                mobileMenu.classList.remove('opacity-100', 'max-h-screen');
                mobileMenu.classList.add('opacity-0', 'max-h-0');
                setTimeout(() => {
                    mobileMenu.classList.add('hidden');
                }, 500); // Match the duration of the transition
            }
        });
    }
</script>
